@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Montserrat', sans-serif;
}

.spacegray {
    background-color: rgb(39, 39, 39);
}

.bg-yellow-400 {
    background-color: #cc952c !important;
}

.text-yellow-400 {
    color: #cc952c !important;
}

nav {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M960.24-56.95C841.03-24.79 903.14 293.18 624.45 305.22 345.76 317.26 123.32 422.38-47.13 422.82' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1302.6-97.34C1173.24-85.25 1091.17 184.38 866.89 185.92 642.62 187.46 649.04 115.92 431.19 115.92 213.33 115.92 105.8 185.7-4.52 185.92' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M934.83-64.17C812.7-63.86 708.73 14.07 453.45 19.05 198.18 24.03 108.34 268.72-27.92 276.65' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1149.83-36.15C1028.55-24.58 951.97 229.77 742.35 231.17 532.73 232.57 538.62 161.17 334.88 161.17 131.14 161.17 30.76 230.92-72.6 231.17' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M770.8-0.21C621.15 14.41 544.58 321.54 269.47 332.05-5.65 342.56-102.81 454.35-231.87 455.25' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.sideMenu {
    background-color: #333;
    color: white;
    transition: transform 0.3s ease-in-out;
    animation: slideOut 0.3s ease-in-out forwards;
    /* Aplicar la animación al mostrar el menú */
    /* Transición suave para la propiedad transform */
}

.sideMenu.open {
    animation: slideIn 0.3s ease-in-out forwards;
    /* Aplicar la animación al ocultar el menú */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#home {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1444' height='501' preserveAspectRatio='none' viewBox='0 0 1444 501'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c84 C 96.4%2c72 289.2%2c23.6 482%2c24 C 674.8%2c24.4 771.6%2c84.4 964%2c86 C 1156.4%2c87.6 1348%2c42.8 1444%2c32L1444 501L0 501z' fill='rgba(62%2c 62%2c 62%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c105 C 96.4%2c122.4 289.2%2c184.4 482%2c192 C 674.8%2c199.6 771.6%2c141.6 964%2c143 C 1156.4%2c144.4 1348%2c187.8 1444%2c199L1444 501L0 501z' fill='rgba(42%2c 42%2c 42%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c282 C 96.4%2c266 289.2%2c200.2 482%2c202 C 674.8%2c203.8 771.6%2c281.8 964%2c291 C 1156.4%2c300.2 1348%2c256.6 1444%2c248L1444 501L0 501z' fill='rgba(39%2c 39%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c393 C 57.8%2c383.6 173.4%2c346.4 289%2c346 C 404.6%2c345.6 462.4%2c394.4 578%2c391 C 693.6%2c387.6 751.4%2c335 867%2c329 C 982.6%2c323 1040.6%2c365.2 1156%2c361 C 1271.4%2c356.8 1386.4%2c318.6 1444%2c308L1444 501L0 501z' fill='rgba(39%2c 39%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c413 C 36.2%2c423.4 108.6%2c467.4 181%2c465 C 253.4%2c462.6 289.6%2c395 362%2c401 C 434.4%2c407 470.6%2c485.6 543%2c495 C 615.4%2c504.4 651.6%2c456.6 724%2c448 C 796.4%2c439.4 832.6%2c453.4 905%2c452 C 977.4%2c450.6 1013.6%2c438.8 1086%2c441 C 1158.4%2c443.2 1195.4%2c467.6 1267%2c463 C 1338.6%2c458.4 1408.6%2c427 1444%2c418L1444 501L0 501z' fill='rgba(147%2c 253%2c 249%2c 0)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1444' height='501' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(160deg);
    width: 1200px;
    height: 800px;
    left: -400px;
}

@media screen and (min-width: 768px) {
    #home {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1444' height='501' preserveAspectRatio='none' viewBox='0 0 1444 501'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c84 C 96.4%2c72 289.2%2c23.6 482%2c24 C 674.8%2c24.4 771.6%2c84.4 964%2c86 C 1156.4%2c87.6 1348%2c42.8 1444%2c32L1444 501L0 501z' fill='rgba(62%2c 62%2c 62%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c105 C 96.4%2c122.4 289.2%2c184.4 482%2c192 C 674.8%2c199.6 771.6%2c141.6 964%2c143 C 1156.4%2c144.4 1348%2c187.8 1444%2c199L1444 501L0 501z' fill='rgba(42%2c 42%2c 42%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c282 C 96.4%2c266 289.2%2c200.2 482%2c202 C 674.8%2c203.8 771.6%2c281.8 964%2c291 C 1156.4%2c300.2 1348%2c256.6 1444%2c248L1444 501L0 501z' fill='rgba(39%2c 39%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c393 C 57.8%2c383.6 173.4%2c346.4 289%2c346 C 404.6%2c345.6 462.4%2c394.4 578%2c391 C 693.6%2c387.6 751.4%2c335 867%2c329 C 982.6%2c323 1040.6%2c365.2 1156%2c361 C 1271.4%2c356.8 1386.4%2c318.6 1444%2c308L1444 501L0 501z' fill='rgba(39%2c 39%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c413 C 36.2%2c423.4 108.6%2c467.4 181%2c465 C 253.4%2c462.6 289.6%2c395 362%2c401 C 434.4%2c407 470.6%2c485.6 543%2c495 C 615.4%2c504.4 651.6%2c456.6 724%2c448 C 796.4%2c439.4 832.6%2c453.4 905%2c452 C 977.4%2c450.6 1013.6%2c438.8 1086%2c441 C 1158.4%2c443.2 1195.4%2c467.6 1267%2c463 C 1338.6%2c458.4 1408.6%2c427 1444%2c418L1444 501L0 501z' fill='rgba(147%2c 253%2c 249%2c 0)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1444' height='501' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(160deg);
        width: 1900px;
        height: 800px;
        left: -400px;
    }
}

.homec {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M960.24-56.95C841.03-24.79 903.14 293.18 624.45 305.22 345.76 317.26 123.32 422.38-47.13 422.82' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1302.6-97.34C1173.24-85.25 1091.17 184.38 866.89 185.92 642.62 187.46 649.04 115.92 431.19 115.92 213.33 115.92 105.8 185.7-4.52 185.92' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M934.83-64.17C812.7-63.86 708.73 14.07 453.45 19.05 198.18 24.03 108.34 268.72-27.92 276.65' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1149.83-36.15C1028.55-24.58 951.97 229.77 742.35 231.17 532.73 232.57 538.62 161.17 334.88 161.17 131.14 161.17 30.76 230.92-72.6 231.17' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M770.8-0.21C621.15 14.41 544.58 321.54 269.47 332.05-5.65 342.56-102.81 454.35-231.87 455.25' stroke='rgba(105%2c 105%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background: linear-gradient(#272727, #272727, #ffffff);
}

#homecolor {
    background: linear-gradient(rgb(39, 39, 39), white);
}

.videovimeo {
    transform: scale(0.8);
}

.globo {
    transform: scale(0.2);
}

.animationUp {
    animation: up 1s 1;
}

@keyframes up {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animationRight {
    animation: leftD 1s 1;
}

@keyframes leftD {
    0% {
        transform: translateX(70px);
    }
    100% {
        transform: translateX(0px);
    }
}

.services {
    animation: opacity 2s 1;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.world {
    background-image: url("/world.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.bestClient li:nth-child(1) {
    font-family: 'Georgia', serif;
    width: 6rem;
    /* Cambiar la fuente para el primer elemento de la lista */
}

.bestClient li:nth-child(2) {
    font-family: 'Verdana', sans-serif;
    width: 6rem;
    /* Cambiar la fuente para el segundo elemento de la lista */
}

.bestClient li:nth-child(3) {
    font-family: 'Times New Roman', serif;
    width: 6rem;
    /* Cambiar la fuente para el tercer elemento de la lista */
}

.bestClient li:nth-child(4) {
    font-family: 'Georgia', serif;
    width: 6rem;
    /* Cambiar la fuente para el primer elemento de la lista */
}

.bestClient li:nth-child(5) {
    font-family: 'Verdana', sans-serif;
    width: 6rem;
    /* Cambiar la fuente para el segundo elemento de la lista */
}

.bestClient li:nth-child(6) {
    font-family: 'Times New Roman', serif;
    width: 6rem;
    /* Cambiar la fuente para el tercer elemento de la lista */
}

.testimonials .swiper-button-prev {
    position: relative;
    left: 60%;
    bottom: 28px;
    background: #fbcc15;
    padding: 1.3em;
    color: black !important;
}

.testimonials .swiper-button-next {
    position: relative;
    left: 80%;
    bottom: 50px;
    background: #fbcc15;
    padding: 1.3em;
    color: black !important;
}

.swiper-pagination-bullet-active {
    background: #fbcc15;
}

.pill {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 600px;
    right: 0px;
    overflow: hidden;
    /* Ajusta la perspectiva según tus necesidades */
}

.pilld {
    position: absolute;
    top: 140px;
    bottom: 0px;
    left: -35px;
    right: 0px;
    transform: rotate(90deg);
    width: 110px;
    height: 30px;
    border-radius: 80px;
    background-color: rgb(6, 102, 110);
    /* background: linear-gradient(right rgb(20, 44, 0), rgb(14, 32, 0)); */
    box-shadow: -15px -15px 20px #fff;
    text-align: center;
    opacity: 1 !important;
}

.pill2 {
    display: flex;
    font-size: 13px;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 45%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    background-color: white;
    border-right: 1px solid black;
    /* background: linear-gradient(right rgb(20, 44, 0), rgb(14, 32, 0)); */
}